body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: hsl(241 80% 62%);
    padding: 20px;
    text-align: center;
    color: white;
}
nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    margin: 0 15px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
main {
    padding: 20px;
    text-align: center;
}
.tools-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.tool {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tool h3 {
    margin-bottom: 10px;
    color: hsl(241 100% 62%);
}
.tool button {
    padding: 10px 20px;
    background-color: hsl(241 80% 62%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tool button:hover {
    background-color: hsl(241 60% 62%);
}
.container {
    width: 80%;
    margin: auto;
}
/* Styling for the image field */
.image-field {
    margin: 50px 0;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-field img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}